In [75]:
import pandas as pd
import matplotlib.pyplot as plt

In [76]:
df = pd.read_csv('cleaned_dataset1.csv', usecols=['first_name', 'last_name', 'middle_name', 'gender', 'code'])

In [77]:
df.head(10)

  first_name last_name middle_name gender code
0          A       NaN      HANNAN      M   CF
1          A       NaN         JAY      M   CM
2          A         I           K      M   GA
3          A       NaN         LAH      F   AU
4          A       NaN         RIN      F   AU
5          A         M           S      M   CM
6         AA       NaN       ISHAH      F   CA
7      AABAN       NaN         NaN      M   FJ
8      AABAS       NaN         NaN      M   FJ
9     AABEER       NaN         NaN      F   CH

In [78]:
df.shape

(175444, 5)

In [79]:
df_clean = df.fillna("Unknown")

In [80]:
df_clean.isna().sum()

first_name     0
last_name      0
middle_name    0
gender         0
code           0
dtype: int64

In [81]:
df_clean.describe()

       first_name last_name middle_name  gender    code
count      175444    175444      175444  175444  175444
unique     160613       215        3369       2     172
top         ABDUL   Unknown     Unknown       F      CM
freq           65    175181      160827  103016    5510

In [82]:
df_clean.head()

  first_name last_name middle_name gender code
0          A   Unknown      HANNAN      M   CF
1          A   Unknown         JAY      M   CM
2          A         I           K      M   GA
3          A   Unknown         LAH      F   AU
4          A   Unknown         RIN      F   AU

In [83]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [84]:
X = df_clean[['first_name', 'last_name', 'middle_name', 'code']]
y = df_clean['gender']

In [85]:
encoder = OneHotEncoder()
encoder.fit(X)
X_encoded = encoder.transform(X)

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.33)

In [88]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
# clf = DecisionTreeClassifier()
# clf = clf.fit(X_train,y_train)